p {
    color: #98C379;
}

.button {
    color: #98C379;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #4B5363;
    display: inline-block;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

input[type="file"] {
    color: #98C379;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 2px;
}

body {
    background-color: #282C34;
}

table, th, td {
    padding: 5px;
    color: #E06C75;
    text-align: left;
    border: 3px solid #61AFEF;
    border-collapse: collapse;
}

tr:hover {
    background-color: #61AFEF22;
}

th {
    font-weight: bold;
    text-align: center;
}

a:link, a:visited {
    font-weight: bold;
    background-color: #4B5363;
    color: #E5C07B;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #567B9A;
}

h1 {
    color: #61AFEF;
}
